.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.wrapper > span::first-letter {
  text-transform: uppercase;
}

.input {
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  font-family: inherit;
  outline: none;
  border: 1px solid var(--grey);
  border-radius: 0.2rem;
  font-weight: 200;
}
