.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  font-weight: 400;
  font-size: 1.2rem;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.image {
  border-radius: 30px;
}

.card {
  height: 80%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 1.5rem;
}

.unit {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 1rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  width: 60%;
}

.date {
  flex: 1;
  font-size: 0.8rem;
  padding-left: 0.3rem;
}

.point {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-right: 1rem;
  background-color: var(--point);
}
