.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stats {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.graphDog {
  width: 35%;
}

.graphBar {
  width: 50%;
}
