.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.modal {
  margin: 0 auto;
  padding: 1.25rem;
  border-radius: 1rem;
  transition: 800ms cubic-bezier(.95, .6, .26, .83);
  background-color: var(--secondary);
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.73);
  
}

.opened {
  transform: translateY(38%);
}

.closed {
  transform: translateY(-110%);
}

/* Modal sizes */
.small {
  width: 200px;
}

.medium {
  width: 350px;
}

.large {
  width: 500px;
}

.fitContent {
  width: fit-content;
}