.container {
  position: relative;
}

.search {
  width: 100%;
  padding: 0.8rem 2rem 0.8rem 2.8rem;
  background-color: var(--secondary);
  border: 0;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 200;
  font-size: 0.9rem;
  box-shadow: 0px 2px 5px 0px #00000040;
}

.search:focus {
  outline: none;
}

.icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4rem;
}
