.container {
  position: relative;
}

.search {
  width: 100%;
  padding: 1.3rem 2rem;
  padding-left: 3rem;
  background-color: var(--secondary);
  border: 0;
  border-radius: 10px;
  font-size: 1.2rem;
}

.search:focus {
  outline: none;
}

.icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4rem;
}
