.container {
  display: flex;
  gap: 2.5rem;
  width: 100%;
  max-width: 100%;
  flex-shrink: 1;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.rightContainer {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}

.rightContainer > * {
  height: 50%;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.group:last-child {
  gap: 1rem;
}

.groupHeadWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.groupTitle {
  font-size: 1.2rem;
}

.categoriesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.75rem;
}

.categoryBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
  max-height: 150px;
  min-width: 100px;
  /* max-width: 150px; */
  aspect-ratio: 1/1;
  flex: 1;
  color: white;
  border-radius: 1.25rem;
  padding: 1.5rem;
  background: var(--hover-gradient);
  transition-duration: 400ms;
  box-shadow: 0px 2px 5px 0px #00000040;
  position: relative;
  outline: 2px solid transparent;
  outline-offset: 1rem;
}

.categoryBlock:hover {
  cursor: pointer;
  outline: 1px solid var(--hover);
  outline-offset: 0;
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--dark-background);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.75rem;
  aspect-ratio: 1/1;
  color: var(--secondary);
}

.icon {
  width: 20px;
  height: 20px;
}

.priorityIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 30px;
  height: 30px;
  animation-name: blink;
}

.highPriority {
  color: var(--error);
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}

.mediumPriority {
  color: var(--warning);
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

.lowPriority {
  color: var(--success);
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}

.categoryInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  overflow: hidden;
  max-width: 100%;
}

.categoryInfo > p:first-child {
  font-size: 1.2rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.categoryInfo > p:last-child {
  font-weight: 100;
  font-size: 0.9rem;
  opacity: 0.76;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
